
.fotopetsperfil img{
	margin: -50px auto 0;
	border-radius: 50%;
	width: 60px;
	position: relative;
	top: 30px;
}
.fotospetsperfil img{
	margin: -60px auto 0;
	border-radius: 10%;
	left: 20px;
	width: 60px;
	position: relative;
	top: 40px;
}
.foto img{
	border-radius: 50%;
}
